.calc{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    outline: auto;
}

.result{
    height: 80px;
    font-size: 75px;
    text-align: right;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.buttons > * {
    width: 25%;
    margin: 0px;
    height: 90px;
    font-size: 40px;
    background-color: lightblue;
}

/* *{
    outline: auto;
} */