.calc{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #F5F5F5;
    font-family: sans-serif;
}

.display{
    margin: 5px 10px;
    background-color: #ccb9e9;
    border-radius: 10px;
}

.result{
    display: flex;
    height: 90px;
    padding: 0 10px;
    font-size: 45px;
    justify-content: end;
    align-items: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
}

.buttons > * {
    flex: 1 0 21%;
    margin: 1%;
    outline: none;
    font-size: 30px;
    height: 60px;
    background-color: #8fc1e3;
    border-radius: 50px;
}

button {
    border: none;
}

.operator{
    background-color: #45A29E;
}

button:active {
    background: #F5F5F5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

/* *{
    outline: auto;
} */